//- index.pug
- css = "css/main.css"
- eyes = 0
- brainPiece = 0
- tears = 0
- Tweenmax = "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"

link(rel="stylesheet" href=css)

.character
	//- .head
	//- 	.brain
	.head.rythm-bass
		.skull
			.brain.rythm-bass
				while brainPiece < 4
					- brainPiece++
					.piece
		.face
			while eyes < 4
				- eyes++
				//- include svg/teardrop.svg
				.thing
					.eye.rythm-bass
						.iris
							.pupil
			.tears
				while tears < 4
					- tears++
						include svg/teardrop.svg
		.mouth
			.lips
		
.buttons
	.btn.laugh.rythm-bass Make me laugh XD
	.btn.cry.rythm-bass Make me cry :(
	.btn.crazy.rythm-bass Make me crazy! 8D
	.btn.crazy.rythm-bass.dookbox Play da dukebox!
script(src=Tweenmax)
script 
	include js/rhythm.js
script
	include js/index.js
