//- index.pug
- css = "css/main.css"
- eyes = 0
- brainPiece = 0
- tears = 0

link(rel="stylesheet" href=css)

.character
	//- .head
	//- 	.brain
	.head.rythm-bass
		.skull
			.brain.rythm-bass
				while brainPiece < 4
					- brainPiece++
					.piece
		.face
			while eyes < 4
				- eyes++
				//- include svg/teardrop.svg
				.thing
					.eye.rythm-bass
						.iris
							.pupil
			.tears
				while tears < 4
					- tears++
						include svg/teardrop.svg
		.mouth
			.lips
		
.buttons
	.btn.laugh Make me laugh XD
	.btn.cry Make me cry :(
	.btn.crazy Make me crazy! 8D
script
	include js/rhythm.js
	include js/index.js